.container{
    width:80%;
    height: 50%;

    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;
    text-align: center
}

.container > div {
    padding: 5px;
}

h1{
    text-align: center;
    padding-bottom: 30px;
}

label{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 5px;
}
input{
    width: 50%;
}

.error{
    color: red;
    background-color: white;
}

a{
    color: yellow;
}
#success{
    color: green;
}

#resetPasswordSection{
    background-color: rgba(255, 255, 255, 0.5);
}

#showForgottenPassworFieldContainer{
    padding: 10px 0;
}

#showPasswordResetField{
    text-decoration: underline;
    color: yellow;
    cursor: pointer;
}

#close{
    cursor: hover;
    background-color: red;
    float: right;
    padding: 5px;
}

.hidden{
    display: none;
    padding: 500px;
}