<h1> login </h1>

<label for="email">Email</label>
<input
  [(ngModel)]="email"
  type="email"
  id="email"
  required
>

<label for="password">Password</label>
<input
  [(ngModel)]="password"
  type="password"
  id="password"
  required
>

<p *ngIf="errorMessageLogin" class="error">{{errorMessageLogin}}</p>

<button (click)="login()">Login</button>

<p>----------------------</p>

<input
  [(ngModel)]="forgottenPasswordEmail"
  type="email"
  id="forgottenPasswordEmail"
  required
>
<button (click)="resetPassword()">Reset password</button>
<p *ngIf="successResetPassword" id="success">{{successResetPassword}}</p>
<p *ngIf="errorResetPassword" class="error">{{errorResetPassword}}</p>

<p>No account? Click here to <a href="/register">register</a></p>
