<div style="text-align:center">
  <h1>
    <!-- Without the ? when there is no user the welcome message will not display anything beyond the {{}} brackets (in this case an exclamation mark). -->
    Welcome {{user?.email}}!
  </h1>
</div>
<ul>
  <li class="text" *ngFor="let present of presents | async">
    <p>Item given: {{present.newItem}}</p>
    <p>From whom: {{present.nameFrom}}</p>
    <p>To whom: {{present.nameTo}}</p>
    <p>Picture: {{present.picture}}</p>
    <p>Rating: {{present.rating}}</p>
    <p>Opened on: {{present.dateOpened}}</p>
    <p>Thank you letter sent? {{present.letterSent}}</p>
    <button (click)='updateLetter(present)'>send card</button>
    <button (click)='delete(present.id)'>delete</button>
  </li>
</ul>

<button (click)='logout()'>logout</button>

<p>-----------</p>

<label for="newItem">Item given</label>
<input
  [(ngModel)]='newItem'
  type='text'
  id=newItem
>

<label for="nameFrom">From whom</label>
<input
  [(ngModel)]='nameFrom'
  type='text'
  id = "nameFrom"
>

<label for="nameTo">To whom</label>
<input
  [(ngModel)]='nameTo'
  type='text'
  id = "nameTo"
>

<label for="picture">Picture</label>
<input
  [(ngModel)]='picture'
  type='text'
  id = "picture"
>

<label for="rating">Rating</label>
<input
  [(ngModel)]='rating'
  type='number'
  id = "rating"
>

<button (click)='createItem()'>Create item</button>
<p *ngIf="errorMessage" id="error">{{errorMessage}}</p>