.error{
    color: red;
}

.avatar{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

#giftPicture{
    height: 150px;
    width: auto;
}

#present{
    background-color: rgba(255, 255, 255, 0.5);
    width: 300px;
    display: inline-block;
    margin: 20px;
}

label {
    text-align: right;
    padding-right: 5px;
    width: 100px;
    display: inline-block;
}

input {
   display: inline-block;
}

#generateThankYouCards{
    margin-bottom: 50px;
}