.error{
    color: red;
}

#profileBar{
    background-color: rgb(98, 189, 219);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

h1,
#logoutButton{
    display: inline;
}

.hidden{
    display: none;
}

#avatar{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}
#newImage{
    background-color: rgba(255, 255, 255, 0.5);
}

#dirtyMarginFix{
    margin-top: 100px;
    display: block;
}
#close {
    cursor: pointer;
}
#avatarPreview{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

#giftPicture{
    height: 150px;
    width: auto;
}

#present{
    background-color: rgba(255, 255, 255, 0.5);
    width: 300px;
    display: inline-block;
    margin: 20px;
}

label {
    text-align: right;
    padding-right: 5px;
    width: 100px;
    display: inline-block;
}

input {
   display: inline-block;
}

#generateThankYouCards{
    margin-bottom: 50px;
}

.grey{
    background-color: grey;
}