<div style="text-align:center">
  <div id='profileBar'>
    <h1>
      <!-- Without the ? when there is no user the welcome message will not display anything beyond the {{}} brackets (in this case an exclamation mark). -->
      Welcome {{user.displayName}}!
    </h1>
    <img src={{user.photoURL}} id='avatar' (click)='accessProfilePictureChange()'>
    <button (click)='logout()' id='logoutButton'>logout</button>
  </div>
  
  <div id='dirtyMarginFix'></div>

  <div id="newImage" class='{{avatarClicked ? "" : "hidden"}}'>
     <div id="close">
        <p style='background-color: red; color: white; float: right' (click)="accessProfilePictureChange()">X</p>
      </div>
    <label for="newImage">New profile picture URL:</label>
    <input
      [(ngModel)]='newImage'
      type='string'
      id = "newImage"
    >
    <img *ngIf='newImage' src={{newImage}} id='avatarPreview'>
    <button (click)='updateProfilePicture()'>Update Image</button>
   
    <p *ngIf='errorUpdateImage' class='error'>{{errorUpdateImage}}</p>
  </div>
</div>

<h2>Your recorded gifts are:</h2>
<div id="present" *ngFor="let present of presents | async">
  <p>Gift: {{present.newItem}}</p>
  <p>From: {{present.nameFrom}}</p>
  <p>To: {{present.nameTo}}</p>
  <img src='{{present.picture}}' id="giftPicture">
  <p>Rating: {{present.rating}}/5</p>
  <p>Opened on: {{present.dateOpened}}</p>
  <p>You have {{present.letterSent ? '': 'NOT'}} sent a thank you card!</p>
  <button (click)='updateLetter(present)' class='{{present.letterSent ? "grey" : "" }}'>{{present.letterSent?"Card sent &#11119;":"Send card"}}</button>
  <button (click)='delete(present.id)' style="background-color: red; color: white">Delete present</button>
</div>

<h2>Add a new present</h2>
<div>
  <label for="newItem">Item given</label>
  <input
    [(ngModel)]='newItem'
    type='text'
    id=newItem
  >
</div>

<div>
  <label for="nameFrom">From whom</label>
  <input
    [(ngModel)]='nameFrom'
    type='text'
    id = "nameFrom"
  >
</div>

<div>
  <label for="nameTo">To whom</label>
  <input
    [(ngModel)]='nameTo'
    type='text'
    id = "nameTo"
  >
</div>

<div>
  <label for="picture">Picture URL</label>
  <input
    [(ngModel)]='picture'
    type='text'
    id = "picture"
  >
</div>

<div>
  <label for="rating">Rating (0-5)</label>
  <input
    [(ngModel)]='rating'
    type='number'
    id = "rating"
    min=0
    max=5
  >
</div>

<button (click)='createItem()'>Create item</button>
<p *ngIf="errorMessage" class="error">{{errorMessage}}</p>

<p>-----------</p>


<p>Added all of your gifts? Don't forget to send those thank you cards!</p>
<button (click)='generateThankYouCards()' id="generateThankYouCards">Generate cards</button>